<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasión aplicaciones y sitios web para personas.</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer. Esta web la construí desde cero con Python y Flask! Y quiero fortalecer los conocimientos que he estado aprendiendo.</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar acerca de lo que necesitas!</h1>
                <p>Sólo envíame un correo <a class="orange" href="#contacto">presionando aquí</a> </p>
            </div>
        </div>
    </div>
</div>